COMPOSE_PROJECT_NAME=biofoundry-factory-floor
CLICKHOUSE_HTTP_PORT=18660
CLICKHOUSE_NATIVE_PORT=18661
DOCLING_PORT=18662
DT_LLM_MODE=prefer-llm
DT_WATCH_INTERVAL_MS=5000
DT_WATCH_MAX_RETRY_MS=60000
DT_LEASE_STALE_MS=300000
OPENROUTER_API_KEY=
OPENROUTER_MODEL=mistralai/codestral-2508
OPENROUTER_DATA_COLLECTION=deny
T2C_HOST_ROOT=./vendor/todo2code
