COMPOSE_PROJECT_NAME=autonomy-example
CLICKHOUSE_HTTP_PORT=19540
CLICKHOUSE_NATIVE_PORT=19541
DOCLING_PORT=19542
DT_LLM_MODE=prefer-llm
DT_WATCH_INTERVAL_MS=5000
DT_WATCH_MAX_RETRY_MS=60000
DT_LEASE_STALE_MS=300000
OPENROUTER_API_KEY=
OPENROUTER_MODEL=mistralai/codestral-2508
OPENROUTER_DATA_COLLECTION=deny
T2C_HOST_ROOT=./vendor/todo2code
